# System files
# ------------

Icon
.DS_Store

# Files meant for development only
# ---------------

/node_modules/*
/*lock.json
/TODO.md

# Data that is only meant for deployment
# ---------------
/.cache
/dist/*

# Do not track Kirby CMS and Media Files in Repository
# ---------------

/kirby/*
/media/*
/assets/img/*.jpg
# !/media/index.html

# Do not track Content images
# ---------------

/favicon.ico
/content/**/*.jpg

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

/.htaccess

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
