/* Add in all template files */
@use 'templates/default';
@use 'templates/about';
@use 'templates/album';
@use 'templates/home';
@use 'templates/loader';
@use 'templates/note';
@use 'templates/notes';

@use 'templates/colors';
@use 'templates/typography';
@use 'templates/menu';
@use 'templates/insert-collection-products';
@use 'templates/insert-readmore';
@use 'templates/insert-other-projects';
@use 'templates/insert-slide';
@use 'templates/project-details';
@use 'templates/services';

@use 'templates/footer';

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	margin: 0;
	--font-weight-menu-link: 400;
	--font-size-menu-link: 5vw;
	--clip-1: polygon(37% 15%, 63% 15%, 63% 85%, 37% 85%);
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  min-width: 280px;
}

html {
  font-family: var(--font-main-sans);
}

li {
  list-style: none;
}

a {
  color: currentColor;
}

p {
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img,
figure {
  width: 100%;
  display: block; // to remove the small gap when there's whitespace between image tags
}

main {
  min-height: calc(100vh - 10rem);
  padding: 0;
}

.grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------------------------------------------------------------------- */
/* INTRO & MOOD */
/* --------------------------------------------------------------------------- */

.intro {
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-family: var(--font-main-serif);
  position: relative;
  z-index: 1;
  color: var(--color-white);
}

.intro .color-inverted {
  color: var(--color-black);
}

.intro__emblem {
  display: none;
}

.mood__claim {
  text-align: center;
  font-family: var(--font-main-serif);
  font-weight: 900;
  line-height: calc(3vw + 0.75rem);
  font-size: calc(2vw + 1rem);
  padding: 2rem .5rem;
}

.mood__claim em {
  font-family: var(--font-main-sans);
}

/* --------------------------------------------------------------------------- */
/* OTHER */
/* --------------------------------------------------------------------------- */

.project__text {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.tags {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: .75rem;
  font-weight: 600;
}

.text {
  line-height: 1.5em;
}
.text p,
.text figure,
.text ul,
.text ol {
  margin-bottom: 1.5em;
}
.text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.text > *:first-child {
  margin-top: 0;
}
.text a {
  position: relative;
  white-space: nowrap;
  font-weight: 500;
  z-index: 1;
  display: inline-block;
  border-bottom: 2px solid #000;
}
.text figure {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.text img {
  width: 100%;
}

.items {
  font-weight: 600;
  font-family: var(--font-main-sans);
}

/* --------------------------------------------------------------------------- */
/* MODAL */
/* --------------------------------------------------------------------------- */

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  box-shadow: 0 15px 50px 50px #fafafa;
}

/* Modal Content/Box */
.modal-content {
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5rem;
}

/* The Close Button */
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* --------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* --------------------------------------------------------------------------- */

@media screen and (min-width: 480px) {
    .mood__image {
      padding-top: 50%; // 16:9 Aspect Ratio
      overflow: hidden;
      height: 0;
      position: relative;
    }

    .mood__image--inside {
      position: absolute;
      top: -15%;;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .mood__claim {
      padding: 2.5rem 2rem;
    }

    .grid__item--headline h1, 
    .grid__item--headline h2 {
      font-size: 1.5rem;
    }
  }

@media screen and (min-width: 640px) {
  .intro {
    padding-top: calc(3vw + 6rem);
    padding-bottom: calc(3vw + 3rem);
  }
}

@media screen and (min-width: 768px) {
  /* "Global" Whitespace Changes on the sides for multiple elements ... */

  // Left Side
  .header a.logo {
    margin-left: 5vw;
  }

  .project__synopsis {
    padding-left: 0; // Set to zero before indirectly giving a new left padding
  }

  .intro__txt,
  figcaption, // Home
  .project__title, // Home
  .project__subtitle, // Home 
  .project__text
  {
    padding-left: 5vw;
  }

  // increase margin to accomodate for increased side whitespace
  .project__text {
    margin-bottom: 2.5rem;
  }

  // Right Side
  .menu__fake {
    margin-right: 5vw;
  }

  /* ... and other styles. */

  // Intro
  .intro {
    display: flex; // this is needed so that the section correctly wraps around the floating content inside
  }

  .intro__txt {
    float: left;
    width: 78%;
  }

  .intro__emblem {
    display: block;
    float: left;
    width: 12%;
    margin-top: 5vw;
  }

  .mood__claim {
    padding: 5rem 0;
    margin: 0 auto;
    width: 76%;
  }

  .mood__image {
    clear: both; // Clearing the float to have this content appear at the appropriate position after the others
  }

  // Home Project
  figcaption {
    margin-top: 1.5rem;
  }

  .project__text p {
    width: 65%;
  }
 
  .project__text p.project__synopsis {
    width: 85%;
  }

  .project__synopsis, // Home
  .project__text h3 // Services
  {
    width: 85%;
  }

  .project__text p {
    width: 65%;
  }

  .project__text--chapter {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .mood__image {
    padding-top: 45%;
  }

  .mood__image--inside {
    top: -40%;;
  }

  // slightly further increase margin to accomodate for increased side whitespace
  .project__text {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-top: calc(4vw + 4rem);
    padding-bottom: calc(2vw + 1.5rem);
  }

  .intro__emblem {
    margin-top: 3.75vw;
  }

  .mood__image {
    padding-top: 35%;
  }

  .mood__image--inside {
    top: -60%;;
  }

  // Give Whitespace to main body content
  .grid__item--headline h1, 
  .grid__item--headline h2 {
      font-size: 2.5rem;
      line-height: 2.5rem;
  }

  // Give Whitespace to main body content
  .home .projects {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .project__text {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }

  // Remove Padding to accomodate for whitespace
  .project__title,
  .project__subtitle,
  .project__text {
    padding-left: 0;
  }

  // move project description to grid to reflow content
  .grid__container--text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
  }

  figcaption,
  .grid__item--bodycopy {
    padding-left: 2vw;
  }
}

@media screen and (min-width: 1440px) {
  .intro__emblem {
    width: 10%;
    margin-top: 2.5vw;
  }
}

@media screen and (min-width: 1680px) {
  .intro__emblem {
    width: 7%;
    margin-top: 4vw;
  }
}