/* Add in all template files */
@use 'templates/about';
@use 'templates/album';
@use 'templates/default';
@use 'templates/home';
@use 'templates/loader';
@use 'templates/note';
@use 'templates/notes';

@use 'templates/colors';
@use 'templates/typography';
@use 'templates/menu';
@use 'templates/insert-collection-products';
@use 'templates/insert-readmore';
@use 'templates/insert-other-projects';
@use 'templates/insert-slide';
@use 'templates/project-details';
@use 'templates/services';

@use 'templates/footer';

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	margin: 0;
	--font-weight-menu-link: 400;
	--font-size-menu-link: 5vw;
	--clip-1: polygon(37% 15%, 63% 15%, 63% 85%, 37% 85%);
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  min-width: 280px;
}

html {
  font-family: var(--font-main-sans);
}

li {
  list-style: none;
}

a {
  color: currentColor;
}

p {
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img,
figure {
  width: 100%;
  display: block; // to remove the small gap when there's whitespace between image tags
}

.page > * {
  max-width: var(--content-width);
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 10rem);
  padding: 0;
}

.grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------------------------------------------------------------------- */
/* INTRO & MOOD */
/* --------------------------------------------------------------------------- */

.intro {
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-family: var(--font-main-serif);
  position: relative;
  z-index: 1;
  color: var(--color-white);
}

.intro .color-inverted {
  color: var(--color-black);
}

.intro__emblem {
  display: none;
}

.mood__claim {
  text-align: center;
  font-family: var(--font-main-serif);
  font-weight: 900;
  line-height: calc(3vw + 0.75rem);
  font-size: calc(1vw + 1rem);
  padding: 2rem .5rem;
}

.mood__claim em {
  font-family: var(--font-main-sans);
}

@media screen and (min-width: 640px) {
  .intro {
    padding-top: calc(4vw + 6rem);
    padding-bottom: calc(4vw + 3rem);
  }
}

/* --------------------------------------------------------------------------- */
/* OTHER */
/* --------------------------------------------------------------------------- */

.tags {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: .75rem;
  font-weight: 600;
}

.text {
  line-height: 1.5em;
}
.text p,
.text figure,
.text ul,
.text ol {
  margin-bottom: 1.5em;
}
.text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.text > *:first-child {
  margin-top: 0;
}
.text a {
  position: relative;
  white-space: nowrap;
  font-weight: 500;
  z-index: 1;
  display: inline-block;
  border-bottom: 2px solid #000;
}
.text figure {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.text img {
  width: 100%;
}

.items {
  font-weight: 600;
  font-family: var(--font-main-sans);
}

/* --------------------------------------------------------------------------- */
/* MODAL */
/* --------------------------------------------------------------------------- */

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  box-shadow: 0 15px 50px 50px #fafafa;
}

/* Modal Content/Box */
.modal-content {
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5rem;
}

/* The Close Button */
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
    .mood__image {
      padding-top: 56.25%; // 16:9 Aspect Ratio
      overflow: hidden;
      height: 0;
      position: relative;
    }

    .mood__image--inside {
      position: absolute;
      top: -14.875%;;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .mood__claim {
      padding: 2.5rem 2rem;
    }

    .grid__item--headline h1, 
    .grid__item--headline h2 {
      font-size: 1.5rem;
    }
  }

@media screen and (min-width: 768px) {
    .mood__claim {
      padding: 5rem 0;
      margin: 0 auto;
      width: 60%;
    }
}