figcaption {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 1rem;
  margin-top: .25rem;
  margin-bottom: .5rem;
}

figcaption .caption {
  color: var(--color-silver);
}

.project__title,
.project__subtitle,
.project__synopsis {
  padding-left: 1rem;
  padding-right: 1rem;
}

.project__synopsis {
  padding-left: 0;
}

.project__title {
  font-family: var(--font-main-serif);
  margin-top: 1rem;
}

.project__subtitle {
  font-family: var(--font-main-sans);
  font-weight: 600;
  margin-bottom: 1.85rem;
}

.project__synopsis {
  color: var(--color-silver);
  margin-bottom: 1rem;
}

/* CSS GRID IMAGES  */

.grid__container--images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 0;
  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
}

.grid__item--image {
  grid-row: span 1;
}

.projects .grid__image {
  height: 50vw;
}
/* CSS GRID TEXT  */

.grid__item--headline,
.grid__item--bodycopy {
  grid-column: span 1;
}

.grid__item--headline {
  margin-top: 1.75rem;
}

/* MEDIA QUERIES */

.projects li:nth-child(even) .grid__item--image:first-child {
  grid-column: span 2;
}

@media only screen and (min-width: 480px) {
  .projects .grid__image {
    height: 35vw;
  }
}

@media only screen and (max-width: 768px) {
  .projects li:nth-child(odd) .grid__item--image:first-child {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 768px) {
  .grid__container--text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }

  .grid__item--headline {
    grid-column: span 2;
  }

  .grid__item--bodycopy {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .grid__container--images {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .projects .grid__image {
    height: 25vw;
}

  .projects li:nth-child(odd) .grid__item--image {
    grid-column: span 2;
  }
  
  .projects li:nth-child(even) .grid__item--image:first-child {
    grid-column: span 2;
  }  
}