/* --------------------------------------------------------------------------- */
/* INSERT COLLECTION PRODUCTS */
/* --------------------------------------------------------------------------- */

.insert-collection-products .items {
  margin-bottom: 1.5rem;
}

.insert-collection-products .grid__image--items {
    margin-bottom: 1rem;
    margin-left: 0;
    padding-right: 1rem;
  }