/* --------------------------------------------------------------------------- */
/* INSERT OTHER PROJECTS */
/* --------------------------------------------------------------------------- */
.insert-other-projects {
    padding-left: 1rem;
    padding-right: 1rem;
}

.insert-other-projects__headline {
    font-weight: 600;
    text-transform: uppercase;
    margin-left: .5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.insert-other-projects .grid__item--headline {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.insert-other-projects .project__title,
.insert-other-projects .project__subtitle {
    padding-left: 0;
    margin-bottom: 0;
}

.insert-other-projects .projects ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0; 
}

.insert-other-projects .project__subtitle {
    margin: 0;
}

.insert-other-projects .project__synopsis {
    color: var(--color-black);
}

.insert-other-projects .grid__image {
    height: 30vw;
}

.insert-other-projects .project__synopsis {
    padding-right: 0;
    padding-left: 0;
}

@media only screen and (min-width: 480px) {
    .insert-other-projects .projects ul {
        grid-template-columns: 1fr 1fr;
    }

    .insert-other-projects .projects li {
        grid-column: span 1;
    }

    .insert-other-projects figure,
    .insert-other-projects .grid__container--text {
        padding: .5rem;
    }
} 

@media only screen and (min-width: 768px) {
    .insert-other-projects {
        margin-top: 1rem;
    }

    .insert-other-projects .projects ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid__container--text,
    .grid__item--bodycopy {
        display: block;
    }

    .insert-other-projects .project__subtitle,
    .insert-other-projects .grid__item--bodycopy {
        margin-bottom: 1.85rem;
    }

} 

@media screen and (min-width: 1280px) {
    // TODO: The following style overwrites a style from the homepage due to the same name
    //       This should be fixed in a refactor 
    .insert-other-projects .grid__container--text {
        grid-template-columns: 1fr;
    }

    .insert-other-projects .grid__item--bodycopy {
        padding-left: 0;
    }

    // TODO: Maybe this should be moved to the typography template
    .insert-other-projects .grid__item--headline h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    // reverting margins from a lower media query
    .insert-other-projects .grid__item--headline {
        margin-top: 0;
        padding-bottom: 0;
    }
}