@use 'typography';

/* FIXED NAVBAR & FAKE MENU */

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	z-index: 999;
	background: var(--color-bg-silver-light)
} 

.menu__fake,
.header .logo {
	z-index: 9999;
	float: right;
}

.header .logo {
	float: left;
	width: 70%;
}

.menu__fake p {
	font-family: --font-main-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.menu__fake:hover p {
	cursor: pointer;
	color: --color-silver;
	transition: color 0.2s;
}

/* FULLSCREEN MENU */

.screens, 
.screen__item, 
.screen {
	top: 0;
	z-index: -9;
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.screen__item {
	z-index: 1;
	opacity: 0;
}

.screen__item:first-child {
	opacity: 1;
	z-index: 100;
}

.screen {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-image: var(--bg-img);
	will-change: opacity;
}

.screen--full {
	opacity: 1;
	will-change: transform;
}

.screen--clip-1 {
	clip-path: var(--clip-1);
}

.screen--clip-2 {
	clip-path: var(--clip-2);
}

.content {
	padding: 2rem;
	position: relative;
	z-index: 100;
}

.menu__fullscreen {
	display: none;
	position: fixed;
    top: 0;
    right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999; // above all other content
}

.menu {
	display: flex;
	flex-direction: column;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu__item {
	display: inline-block;
	text-align: left;
	margin: 2vh 0;
	// opacity: .5;
}

.menu__item-link {
	color: var(--color-black);
	font-family: var(--font-main-serif);
	font-weight: var(--font-weight-menu-link);
	font-size: 3rem;
	line-height: 1;
	display: block;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

.menu__item-link:hover,
.menu__item-link:focus {
	color: var(--color-silver);
}

@media screen and (min-width: 768px) {
	.header .logo {
		width: 50%;
	}
}

@media screen and (min-width: 53em) {
	.content {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 100;
	}
	.menu {
		margin: 0 auto;
		max-width: 74vw;
		text-align: center;
		display: block;
	}
	.menu__item {
		margin: 3vh 3vw;
	}
	.menu__item-link {
		font-size: var(--font-size-menu-link);
	}
}

@media screen and (min-width: 1280px) {
	.header .logo {
		width: 40%;
	}
}