/* --------------------------------------------------------------------------- */
/* MOODBOARD PAGE */
/* --------------------------------------------------------------------------- */

.moodboard .grid__container--images                { grid-template-columns: 1fr 2fr 1fr; }

.moodboard .grid__container--images:nth-of-type(2) { grid-template-columns: 1fr 1fr 1fr 1fr; }

.moodboard .grid__container--images:nth-of-type(3) { grid-template-columns: 1fr 1fr; }

.moodboard .grid__container--images:nth-of-type(4) { grid-template-columns: 1fr 1fr 1fr 1fr; }

@media screen and (min-width: 768px) {
    .moodboard figcaption {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .moodboard main {
        padding-bottom: 2.5vw;
    }
}