/* --------------------------------------------------------------------------- */
/* SERVICES PAGE */
/* --------------------------------------------------------------------------- */

.services main {
    padding-bottom: 1.5rem;
}

.services .grid__item--entry {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.services .details__emblem {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: -1.75rem;
}

.services .grid__container {
    margin-left: .5rem;
    margin-right: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-silver-light);
}

.services .grid__container:last-of-type {
    border-bottom: none;
}

.services .grid__container .number {
    font-family: var(--font-main-serif);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-darkgray);
}

.services .grid__item--headline {
    text-transform: uppercase;
}

.services .service__title--01 {
    color: var(--color-silver);
}

@media screen and (min-width: 480px) {
    .grid__container--text__insertSlide .text {
        margin: 0;
    }

    .services .grid__container--service__details {
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (min-width: 768px) {
    .services .insert-collection-products .items {
        width: 38%;
        float: left;
    }

    .services .grid__container {
        grid-template-columns: 1fr; // overwriting base style
    }

    .services .grid__container--service__details {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .services .grid__container:nth-of-type(4) {
        border: none;
    }

    .services .insert-collection-products .grid__image--items {
        width: 62%;
        float: left;
    }

    .services .insert-slide h2 {
        margin: 0;
    }

    .services .details__emblem {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}